# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and extensions settings for
# Visual Studio Code. This setting is a recommendation, since these files are
# usually individual to each developer and are often gitignored.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.framework.dSYM
**/ios/ServiceDefinitions.json
**/ios/Runner/GoogleService-Info.plist

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Crashlytics-related
ios/Pods/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
